.search-section {
    background-color: rgba(0, 0, 0, 0.5) !important;
    height: 100vh !important;

}

.search-page-header {
    background-color: rgba(0, 0, 0, 0.6) !important;

}

.search-section ::-webkit-scrollbar {
    display: none;
}